.nav a { 
   color: #CCFF33; 
   font-size: 11px; 
   font-weight: bold; 
   padding: 14px 10px; 
   text-transform: uppercase; 
 } 

body {
	margin: 0;
   text-align: center;
   background-color: #F3F781;
   color: #4281A4;
   background-image: url(http://www.saic.edu/150/sites/default/files/miami3.jpg); 
  background-size: cover;
   background-attachment: fixed;
   overflow: auto;
  }
 
 nav a { 
  color: #5CA4A9; 
 text-decoration: none; 
 background-color: #E6EBE0; 
  border-radius: 3px; 
padding: 5px; 
 margin: 5px; 
 font-family: 'Oswald', sans-serif; 

.nav li { 
   display: inline; 
font-family: 'Josefin Sans', sans-serif;
 } 
 
 p,
 a href {
 color: #CC0066;
font-family: 'Josefin Sans', sans-serif;
 }

 .jumbotron .container { 
   position: relative; 
   top:100px;
display: block;
font-family: 'Josefin Sans', sans-serif;
 } 
 
 
 .jumbotron h1,
 div,
 li { 
   color: #8181F7;
     font-family: 'Oswald', sans-serif; 
   font-size: 28px;   
   font-weight: bold; 
display: block;
 } 
 
 .jumbotron p,
 p { 
   font-size: 14px; 
   color: #003366; 
display: block;
font-family: 'Josefin Sans', sans-serif;
 } 
 
 
 .learn-more { 
   background-color: #99FFFF; 
 } 
 
 
 .learn-more h3 { 
   font-family: 'Josefin Sans', sans-serif; 
   font-size: 13px; 
   font-weight: bold; 
display: block;
color: #8181F7;
 } 
 
 
 .learn-more a { 
   color: #8181F7; 
display: block;
 } 
 
 
 .neighborhood-guides{ 
     background-color: #efefef; 
     border-bottom: 1px solid #dbdbdb;
font-family: 'Josefin Sans', sans-serif;
display: block;
 } 
 
 
 .neighborhood-guides h2{ 
color: #393c3d; 
font-size: 14px; 
display: block;
 
 
 } 
 
 
 .neighborhood-guides p{ 
      font-size: 15px; 
     margin-bottom: 13px;
font-family: 'Oswald', sans-serif;
display: block;
 } 
section {
	background: -webkit-linear-gradient(90deg, #456990 10%, #E4FDE1 90%); 
   background:    -moz-linear-gradient(90deg, #456990 10%, #E4FDE1 90%);
   background:     -ms-linear-gradient(90deg, #456990 10%, #E4FDE1 90%);
   background:      -o-linear-gradient(90deg, #456990 10%, #E4FDE1 90%);
   background:         linear-gradient(90deg, #456990 10%, #E4FDE1 90%); 
}
}
 


