
   body {
   text-align: center;
   background-color: #E6EBE0;
   color: #4281A4;
   font-family: 26px 'PlayfairDisplay', sans-serif;
   font-size: 26px;
   background-image: url(http://40.media.tumblr.com/be747ff8eca4830cbb9214a224871155/tumblr_nn2n6jOzzn1sfie3io1_1280.jpg);
   background-size: cover, no-repeat center center fixed;
  }
  
  h1 {
   color: #5CA4A9;
   font-family: 'Oswald', sans-serif;
   font-size: 47px;
 }

    h2,
    p {
   color: #ED6A5A;
   font-family: 'PlayfairDisplay', sans-serif;
   display: block;
 }
 

nav {
  position: absolute;
  top: 50px;
  right: 300px;
}

nav a{
  color: #F4F1BB;
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.64);
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
}

nav a: visited {
  color: #ED6A5A;
}
 
 a {
 
  text-decoration: none;
  background-color: #E6EBE0;
  color: chocolate;
  border: 1px solid aliceBlue;
  text-shadow: 0 1px papayaWhip;
  width: 150px;
  display: block;
  border-radius: 2px;
  padding: 4px;
   font-size: 17px;
  box-shadow: 0 1px 1px #9BC1BC, inset 0 1px 0 rgb(184 134  11);
}

iframe {
  background-color: #F4F1BB;
}
a { 
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
  article {
    text-align: left;
  }

a:hover {
  background-color: #F4F1BB

}

