body {
   background: LightSalmon;
   font-size: 36px;
   background-image: url(http://tinypic.com?ref=9zwnt0" target="_blank"><img src="http://i57.tinypic.com/9zwnt0.jpg);
   background-size: cover;
   color: #212121;
   font-family: PlayfairDisplay, sans-serif;
  }
  
 

