body {
	margin: 0;
   text-align: center;
   background-color: #114B5F;
   color: #4281A4;
   background-image: urhttp://1ms.net/wr.php?url=http://hdw.datawallpaper.com/abstract/modern-tartan-flare-hd-wallpaper-338701.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-attachment: fixed;
   overflow: auto;
  }
  
  video { 
width: 100%;
}	


section{
	height: 250px;
	width: 100%;
	position: relative;
	overflow: auto;
  background: -webkit-linear-gradient(90deg, #456990 10%, #E4FDE1 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #456990 10%, #E4FDE1 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #456990 10%, #E4FDE1 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #456990 10%, #E4FDE1 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #456990 10%, #E4FDE1 90%); /* W3C */
	
}

section a {
  width: 300px;
  height: 25px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -170px;
}
  
img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
  
  h1 {
   color: #F45B69;
   font-family: 'Oswald', sans-serif;
   font-size: 57px;
 }

    h2,
    p,
    title,
    tr,
    td,
    th {
   color: #456990;
   font-family: 'Oswald', sans-serif;
   display: block;
   font-size: 25px;
   text-align: center;
 }
 

nav {
  position: absolute;
  text-decoration: none;
  top: 50px;
  right: 50px;
}

nav a {
  color: #5CA4A9;
  text-decoration: none;
  background-color: #E6EBE0;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  font-family: 'Oswald', sans-serif;
}

nav a:visited {
  color: #F45B69;
}
 
 a.menu-pills {
  text-decoration: none;
  background-color: #E4FDE1;
   text-shadow: 3px 3px #028090;
  color: #114B5F;
  border: 1px solid #E4FDE1;
  width: 150px;
  display: block;
  border-radius: 2px;
  padding: 4px;
   font-size: 22px;
  box-shadow: 0 3px 5px #9BC1BC, inset 4 5px 0 #E6EBE0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
font-size: 24px;
font-family: 'Oswald', sans-serif;
color: #114B5F;v  
}

iframe {
  background-color: #F4F1BB;
}

  article {
   font-size: 24px
  }

a:hover {
  background-color: #5CA4A9;
  font-size: 24px;
  a:hover {
  background-image:
   -webkit-linear-gradient(bottom, #E4FDE1, #456990);
background-image:
   -moz-linear-gradient(bottom, #E4FDE1, #456990);
background-image:
   -o-linear-gradient(bottom, #E4FDE1, #456990);
background-image:
   linear-gradient(to top, #E4FDE1, #5456990);
}

div {
height: 250px;
}

video { 
width: 100%;
}	

map {
 	position: center;
 }


