body {
	margin: 0;
   text-align: center;
   background-color: #E6EBE0;
   color: #4281A4;
   background-image: url(http://7-themes.com/data_images/out/58/6969940-red-and-white-background.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-size: cover;
   background-attachment: fixed;
   overflow: auto;
  }
  
section{
	background-color: #E6EBE0;
	height: 250px;
	width: 100%;
	position: relative;
}

section a {
  width: 300px;
  height: 25px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -32px 0 0 -170px;
}
  
  img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
}
  
  h1 {
   color: #5CA4A9;
   font-family: 'Oswald', sans-serif;
   font-size: 57px;
 }

    h2,
    p,
    title {
   color: #ED6A5A;
   font-family: 'Oswald', sans-serif;
   display: block;
   font-size: 35px;
   text-align: center;
 }
 

nav {
  position: absolute;
  top: 50px;
  right: 50px;
}

nav a {
  color: #5CA4A9;
  text-decoration: none;
  background-color: #E6EBE0;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

nav a: visited {
  color: #ED6A5A;
}
 
 a,
 footage {
  text-decoration: none;
  background-color: #E6EBE0;
  color: #ED6A5A;
  border: 1px solid #5CA4A9;
  text-shadow: 3px 3px #E6EBE0;
  width: 150px;
  display: block;
  border-radius: 2px;
  padding: 4px;
   font-size: 22px;
  box-shadow: 0 3px 5px #9BC1BC, inset 4 5px 0 #E6EBE0;
}

iframe {
  background-color: #F4F1BB;
}
a { 
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
font-size: 24px;
}
  article {
   font-size: 24px
  }

a:hover {
  background-color: #ED6A5A;
  font-size: 24px;
  a:hover {
  background-image:
   -webkit-linear-gradient(bottom, #F4F1BB, #5CA4A9);
background-image:
   -moz-linear-gradient(bottom, #F4F1BB, #5CA4A9);
background-image:
   -o-linear-gradient(bottom, #F4F1BB, #5CA4A9);
background-image:
   linear-gradient(to top, #F4F1BB, #5CA4A9);
}



